@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Nova+Square&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
}

/* reset */

ul{
    list-style: none;
}


/* header */

.header{
    width:100%;
    height: 80px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 80px;
    color: #36485C;
}

.header__left{
    display:flex;
    align-items: center;
    justify-content: space-around;
    width:50%;
}

.header__right{
    display:flex;
    align-items: center;
    justify-content: space-around;
    width:30%;
}

.header--btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:10px;
}


/* hero section */


.hero{
    width:100%;
    height:190vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    margin: 45px 0;
    background: url(./img/gradient-bg.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.hero__title{
    font-size: 4.2rem;
    font-weight: 600;
    color:#172026;
    line-height: 72px; /* 112.5% */
}

.hero__desc{
    font-size: 1.2rem;
    font-weight: 400;
    color:#36485C;
    margin: 24px 0;
    line-height: 28px; 
}

.hero__btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__btn{
    padding: 16px 32px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:#4328EB;
    gap:10px;
    font-size:1.2rem;
}

.hero__btn--dark{
    background-color:#4328EB;
    color:#fff;
}

.hero__companies{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:80%;
    margin:0 80px 80px;
}

.hero__companies__info__text{
    font-size: 1.2rem;
    font-weight: 400;
    color:#fff;
    line-height: 24px; 
}