@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Nova+Square&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
}

/* reset */

ul{
    list-style: none;
}


/* header */

.header{
    width:100%;
    height: 80px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 80px;
}

.header__left{
    display:flex;
    align-items: center;
    justify-content: space-around;
    width:50%;
}

.header__right{
    display:flex;
    align-items: center;
    justify-content: space-around;
    width:30%;
}

.header--btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:10px;
}
